.aboutme-page{
    margin-top: 50px;
}

.aboutme-page {
    text-align: center;
    padding: 50px;
}

.aboutme-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.aboutme-page p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
}

.resume-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #0056b3;
}
